
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*Common CSS Start*/

body{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

li,ul{
    margin: 0;
    padding: 0;
    outline: 0;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: #000;
}

/*Common CSS End*/

/* header part start */
.main_header {
    padding: 15px 0px;
}

.container{
    max-width: 1320px;
}

.main_search form {
    border: 1px solid #E0E0E0;
    padding: 5px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.main_search form svg {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.main_search form input{
    border: none;
}

.main_search form input:focus{
    outline: 0;
}
.main_search form::placeholder{
    color: #000;
}

.main_search form button {
    background: #4F4F4F;
    border: none;
    color:#FFFFFF;
    padding: 10px;
    border-radius: 25px;
}

.cart_area {
    padding-left: 100px;
}

.cart_area ul li {
    margin-right: 20px;
    margin-top: 16px;
}

.log_area {
    position: absolute;
    top: 7px;
}

.log_area a {
    display: flex;
}

.log_area a svg {
    background: #F2F2F2;
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50px;
    /* line-height: 30px; */
    /* display: inline-block; */
} 

.log_area a p {
    display: inline-block;
}

.log_area p {
    margin-top: 10px;
    margin-left: 10px;
}

/* header part end  */

